<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Welcome</ion-list-header>
          <ion-note>Git historic commits of 'wjsm93'</ion-note>
        </ion-list> 
        <ion-menu-toggle autoHide="false">
          <ion-item routerLink="/pages/home" routerDirection="root" detail="false">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>
              Home
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
